%h1 wassup

.row
  .span4
    %h2 Instructions
    %p Have a chair, a wall, and a bucket ready because when you hit the start button, you are going to have the most effective 7 minutes of your life.
  .span8

.row
  .span6
    #start
      %button.btn.btn-primary Start
    #finished
      %h1 Congrats, you are done!

  .span6
    #timer
      %h2.type
      %h2.clock

.row
  .span12
    #exercises
      .exer1
        %h1 This is exercise 1
      .exer2
        %h1 This is exercise 2
      .exer3
        %h1 This is exercise 3
      .exer4
        %h1 This is exercise 4
      .exer5
        %h1 This is exercise 5
      .exer6
        %h1 This is exercise 6
      .exer7
        %h1 This is exercise 7
      .exer8
        %h1 This is exercise 8
      .exer9
        %h1 This is exercise 9
      .exer10
        %h1 This is exercise 10
      .exer11
        %h1 This is exercise 11
      .exer12
        %h1 This is exercise 12
      .exer13
        %h1 This is exercise 13
      .exer14
        %h1 This is exercise 14
      .exer15
        %h1 This is exercise 15
      .exer16
        %h1 This is exercise 16
      .exer17
        %h1 This is exercise 17
