%h1 wassup

.row
  .span6
    #start
      %button.btn.btn-primary Start

  .span6
    #timer
      %h2.type
      %h2.clock

.row
  .span12
    .exer1
      %h1 This is exercise 1
    .exer2
      %h1 This is exercise 2
