%h1 wassup

.row
  .span4
    %h2 Instructions
    %p Have a chair, a wall, and a bucket ready because when you hit the start button, you are going to have the most effective 7 minutes of your life.
  .span8

.row
  .span6
    #start
      %button.btn.btn-primary Start
    #finished
      %h1 Congrats, you are done!

  .span6
    #timer
      %h2.type
      %h2.clock

.row
  .span12
    #exercises
      .exer1
        %h1 1. Jumping Jacks!
      .exer2
        %h1 2. Wall sit
      .exer3
        %h1 3. Push ups!
      .exer4
        %h1 4. Abdominal crunches!
      .exer5
        %h1 5. Step to chair
      .exer6
        %h1 6. Squats!
      .exer7
        %h1 7. Tricep dips on chair!
      .exer8
        %h1 8. Plank!
      .exer9
        %h1 9. High knees. Run in place!
      .exer10
        %h1 10. Lunges!
      .exer11
        %h1 11. Push up and rotation!
      .exer12
        %h1 12. Side Plank